body {
  font-family: 'Montserrat';
}

h1 {
  font-size: 5vw;
  /*6.625rem; /* 100% = 16px */
  /* 1em = 16px */
  color: #ffcf3f;
  font-family: 'Ubuntu';
  line-height: 2;
}

h2 {
  font-size: 4vw;
  color: #11999E;
  font-weight: normal;
}

.pro {
  font-size: 4vw;
  color: #ffcf3f;
}

h3 {
  color: #11999E;
  font-size: 1.25rem;
}

p {
  line-height: 2;
  font-size: 1.25rem;
}

a {
  color: #000B49;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-color: #524A4E;
  border-style: dotted none none;
  border-width: 20px;
  width: 100px;
  margin: 100px auto 100px auto;
  background-color: #fff;
}

#TOP-CONTAINER {
  background-color: #AEFEFF;
}

.intro {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
}

.container-fluid {
  padding: 2% 15%;
}

.nav-item .nav-link {
  font-size: 1.5rem;
}

.navbar-nav .nav-item {
  padding: 0;
}
.navbar-nav{}

.programmer {
  color: #3773a6;
  margin-bottom: 40px;
}

.hamburger{
  width: 20%;
  height: 30px;
  padding: auto;
}


.navbar .navbar-brand {
  font-size: 3vw;
  font-weight: bold;
  color: #3773a6;
}
.navbar .navbar-brand:hover {
  color: #3773a6;
  cursor: default;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
  margin-left: 50px;
}

.navbar-toggler {
  font-size: 2vw;
}

/*Middle container*/
#MIDDLE-CONTAINER {
  text-align: center;
}

.profile {
  margin: 3% auto;
}
.section-title{
  margin-bottom: 100px;
}
/* .skills {

  padding: 50px 50px;
} */

.my_image {
  margin: 10% auto;
  width: 15vw;
}

.logo {
  width: 8vw;
  margin-bottom: 2%;
}

.fa-circle-plus, .fa-circle-minus {
  color: #3773a6;
  margin: 10% auto;
  font-size: 3rem;
}
/************* CARDS *************/
.card-row{
  text-align: center;
}
.card-img-top{
  height: 200px;
}
.card-title{
  font-size: 200%;
  /*6.625rem; /* 100% = 16px */
  /* 1em = 16px */
  color: #ffcf3f;
  font-family: 'Ubuntu';
  line-height: 2;
}
.col{
  text-align: center;
  width: 300px;
  margin-left: 5%;
}

.icon {
  font-size: 150%;
}

.circle:hover, .icon:hover {
  color: #0a66c2;
}

.link:hover {
  color: #0a66c2;
}

.project-img {
  width: 250px;
}
.project-title{
  font-size: 3rem;
}
.get_in_touch_section {
  background-color: #AEFEFF;
  height: 350px;
  padding: 50px 0;
}

#LOWER-CONTAINER {
  text-align: center;
}

.copy-right {
  color: #000B49;
}
